<launch>
    <arg name="filename" default="$(find audio_stream_demo)/sound/amenoyoru.wav" />
    <arg name="dst" default="alsasink"/>
    <arg name="do_timestamp" default="false"/>

    <node 
        name="audio_stream_publisher"
        pkg="audio_stream"
        type="audio_stream_publisher.py"
        output="screen"
        >
        <param name="~is_loop" value="true" />
        <param name="~filename" value="$(arg filename)" />
        <param name="~max_precede" value="0.1" />
        <param name="~use_audio_common" value="true" />

        <remap from="~audio" to="audio" />
    </node>

    <node name="audio_play" pkg="audio_play" type="audio_play" output="screen">
        <param name="dst" value="$(arg dst)"/>
        <param name="do_timestamp" value="$(arg do_timestamp)"/>
        <param name="format" value="wave"/>
    </node>

</launch>
